[Unit]
Description=CheckMK Telegram Plus Service
After=network-online.target checkmk-telegram-plus-bridge-<omd_site>.service
Wants=network-online.target
Requires=checkmk-telegram-plus-bridge-<omd_site>.service

[Service]
PermissionsStartOnly=true
ExecStartPre=+/bin/mkdir -p <run_dir>
ExecStartPre=+/bin/chown root:<app_user> <run_dir>
ExecStartPre=+/bin/chmod 770 <run_dir>
User=<app_user>
Group=<app_user>
WorkingDirectory=<app_dir>
Environment=CHECKMK_TELEGRAM_PLUS_CONFIG=<config_path>
Environment=PYTHONPATH=<pythonpath>
ExecStart=<venv_python> <app_dir>/telegram_bot.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
